<article class="answer panel panel-default {{#if is_best}}best-answer{{/if}}" id="answer_{{id}}">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-1">
        <div class="voting">
          <a class="vote-up" data-method="patch" data-remote="true" data-type="json" href="/answers/{{id}}/vote_up" rel="nofollow"><span class="glyphicon glyphicon-chevron-up"></span></a>
          <strong class="votes">{{total_votes}}</strong>
          <a class="vote-down" data-method="patch" data-remote="true" data-type="json" href="/answers/{{id}}/vote_down" rel="nofollow"></a>
        </div>
      </div>
      <div class="col-md-11">
        <div class="answer-body">{{body}}</div>
      </div>
    </div>
    <div class="answer-author text-right">
      <small>
        by {{user.username}} {{created}} ago
        {{#if edited}}
        <span class="text-muted">{{edited}} ago</span>
        {{/if}}
      </small>
    </div>
    {{#if attachments}}
    <ul class="answer-attachments">
      {{#each attachments}}
      <li><a href="{{ url }}">{{ file }}</a></li>
      {{/each}}
    </ul>
    {{/if}}
    <div class="comments-wrapper">
    {{#if comments}}
      <ul class="comments">
        {{#each comments}}
        {{> _comment }}
        {{/each}}
      </ul>
    {{/if}}
    </div>
  </div>
  <div class="panel-footer">
    <ul class="answer-management">
      <li><a class="mark-best-answer" data-method="post" href="/answers/{{id}}/mark_best" rel="nofollow"><span class="glyphicon glyphicon-ok"></span></a></li>
      <li><a class="edit-answer" href="#"><span class="glyphicon glyphicon-pencil"></span></a></li>
      <li><a class="delete-answer" data-confirm="Are you sure?" data-method="delete" data-remote="true" href="/answers/{{id}}" id="delete-answer" rel="nofollow" data-id="{{id}}"><span class="glyphicon glyphicon-remove"></span></a></li>
      <li><a class="show-comment-form" href="#">Comment</a></li>
    </ul>
    <div class="comment-form">
      <form accept-charset="UTF-8" action="/answers/{{id}}/comments" class="simple_form new_comment" data-remote="true" method="post" novalidate="novalidate">
        <div style="display:none"><input name="utf8" type="hidden" value="✓"></div>
        <div class="form-group text required comment_body"><textarea class="text required form-control" id="comment_body" name="comment[body]" rows="10"></textarea></div>
        <input class="btn btn-default btn btn-primary" name="commit" type="submit" value="Create Comment">
      </form>
    </div>
  </div>
</article>
