{{#each files}}
<li>
  <div>
    <a href="{{this.path}}" rel="{{../rel}}">
      <img src="{{this.path}}" alt="{{this.filename}}">
    </a>
    <a class="delete-attachment" data-confirm="Are you sure?" data-method="delete" data-remote="true" href="/attachments/{{this.id}}" rel="nofollow">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
</li>
{{/each}}
